.drawer-container{
    height: 100%;
   
}

.drawer{
    width: 220px;
    background-color:#D1E8E2;
}

.stepper{
    background-color:#D1E8E2;
}

.toolbar{
    background-color:#116466;
}

.matStepLabel{
    color: #2C3531;
}

.tglBtn{
    background-color:#606FC7;
}

.tglIcon{
    color: white;
}

.spanStyle{
    width: 100%;
    background-color: #D1E8E2;
    height: 40px;
    margin-top: 1px;
    font-size: large;
}

thead{
    background-color:#D1E8E2;
    color: white;
}

.button{
    background-color:#2C3531;
    color: white;
    width: 140px;
}

.btnNext{
    width: 140px;
    margin-right: 8px;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #2C3531;
}